body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)
      ),
      url(background.jpg);
    background-size: cover;
    background-position: center;
  }
  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #009688;
    border-radius: 10px;
  }
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .form-group input,
  .form-group textarea,
  .form-group select {
    background-color: transparent;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 14px;
  }
  .noimage {
    background-image: none;
  }
  .error {
    color: red;
    font-size: 12px;
  }